<div id="root">
  <div id='intro'>
    <mat-toolbar id="titleBar" position='sticky'>
      <span id="title">艾薯条.icu</span>
    </mat-toolbar>
    <p id='icu'>哈哈<br />╰⋛⋋⊱๑大白猫๑⊰⋌⋚╯<br /> \你出道一周年辣/</p>
    <h1 id='subsection'>下滑了解更多的她</h1>
  </div>
  <div id='contentSection'>
    <content-container [sectionTitle]="'关于艾尔莎本人'">

    </content-container>

    <content-container [sectionTitle]="'关于艾尔莎的皮'">
    
    </content-container>

    <content-container [sectionTitle]="'艾尔莎的切片man们'">
    
    </content-container>

    <content-container [sectionTitle]="'艾尔莎的二创man们'">
    
    </content-container>

    <h5 id='registry'>陕ICP备2021014934号-1</h5>
  </div>
</div>
