@media screen and (orientation:landscape) {

  .sectionContainer {
    display: flex;
    position: relative;
    height: fit-content;
    min-height: 20vh;
    width: 100%;
    grid-column: 3/9;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contentCard {
    display: flex;
    position: relative;
    height: fit-content;
    justify-content: center;
    min-height: 20vh;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgba(244, 194, 194, .7) !important;
    border-radius: 20px !important;
  }
}

@media screen and (orientation:portrait) {

  .sectionContainer {
    display: flex;
    position: relative;
    height: fit-content;
    min-height: 20vh;
    width: 100%;
    grid-column: 1/11;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contentCard {
    display: flex;
    position: relative;
    height: fit-content;
    justify-content: center;
    min-height: 20vh;
    width: 100%;
    grid-column: 1/11;
    flex-wrap: wrap;
    background-color: rgba(244, 194, 194, .7) !important;
  }

}