@media screen and (orientation:landscape) {
  #root {
    background-image: url(../../../assets/desktop_elza.jpg);
    background-attachment: fixed;
    background-size: cover;
    /* height: 100vh; */
  }

  #announcement {
    background-color: black;
  }

  #postPreview {
    display: flex;
    flex: 1 500px;
    flex-wrap: wrap;
    grid-column: 2 / 5;
    justify-content: left;
    height: fit-content;
  }

  #contentSection {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    height: fit-content;
    align-items: center;
  }

  #intro {
    height: 100vh;
    opacity: 0.5;
    background-color: black;
  }

  #subsection{
    color: white;
  }

  #icu {
    font-size: 600%;
    color: white;
    margin-top: 15vh;
  }

  #registry{
    color: white;
    grid-column: 3 / 9;
    align-content: center;
  }
}

@media screen and (orientation:portrait) {
  #root {
    background-image: url(../../../assets/mobile_elza.jpg);
    background-attachment: fixed;
    background-size: cover;
    /* height: 100vh; */
  }

  #announcement {
    background-color: black;
  }

  #postPreview {
    display: flex;
    flex: 1 500px;
    flex-wrap: wrap;
    grid-column: 2 / 5;
    justify-content: left;
    height: fit-content;
  }

  #contentSection {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    height: fit-content;
    align-items: center;
  }

  #intro {
    height: 100vh;
    opacity: 0.5;
    background-color: black;
  }

  #intro h1 {
    color: white;
  }

  #icu {
    font-size: 400%;
    color: white;
    margin-top: 15vh;
  }

  #registry {
    color: white;
    grid-column: 3 / 9;
    align-content: center;
  }

}