@media screen and (orientation:landscape) {

  .text {
    margin-top: 0%;
  }

  .sectionTitle {
    color: white;
    margin-bottom: 0;
  }
}

@media screen and (orientation:portrait) {
  .text {
    margin-top: 0%;
  }
  
  .sectionTitle {
    color: white;
    margin-bottom: 0;
  }
}

